.owl-carousel .package {
  z-index: 0;
  position: relative;
}
.owl-carousel .package .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(50vh - 117px);
  min-height: 500px;
  position: relative;
}
.owl-carousel .package .slider-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #000;
  opacity: 0.2;
}
.owl-carousel .package .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
}
.owl-carousel .package .slider-item .slider-text h1 {
  font-size: 72px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  .owl-carousel .package .slider-item .slider-text h1 {
    font-size: 40px;
  }
}
.owl-carousel .package .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.owl-carousel .package .slider-item .slider-text .breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.owl-carousel .package .slider-item .slider-text .breadcrumbs span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.owl-carousel .package .slider-item .slider-text .breadcrumbs span a {
  color: #fff;
}
.owl-carousel .package .owl-nav .owl-prev span,
.owl-carousel .package .owl-nav .owl-next span {
  color: #fff;
}
.owl-carousel .package .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.owl-carousel .package .owl-dots .owl-dot {
  width: 18px;
  height: 18px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: inline-block;
}
.owl-carousel .package .owl-dots .owl-dot span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50% !important;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.owl-carousel .package .owl-dots .owl-dot.active {
  border: 2px solid white;
}
.owl-carousel .package .owl-dots .owl-dot.active span {
  background: white;
}
